[submodule "libuv-cmake"]
	path = libuv-cmake
	url = https://github.com/jen20/libuv-cmake
	branch = v1.9.0
[submodule "mariadb-connector-c"]
	path = mariadb-connector-c
	url = https://github.com/MariaDB/mariadb-connector-c
